@import 'bootstrap/dist/css/bootstrap.min.css';

/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Apply Poppins font to body */
body {
  font-family: 'Poppins', sans-serif;
}

#carouselExampleIndicators{
    margin-bottom: 40px;
}

.pt-3, .py-3{
    margin: 30px 0 !important;
}

.carousel-item{
    display: flex !important;
}

/* Admin Styles */

#main{
    display: flex;
    
}

.collapse:not(.show) {
    display: flex;
}

#admin_sidebar{
    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end: 3;
    position: relative;
    width: 240px;
    min-height: 800px;
    background-color: #f5d8e2;
    color: whitesmoke;

}

#admin_sidebar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#admin_sidebar ul li{
    padding: 0px 20px;
    font-size: 1.2em;
    margin-bottom: 40px;
}

#admin_sidebar a{
    display: block;
    padding: 10px 20px; 
    text-decoration: none;
    color: #212529;
    text-align: left;
}

div#admin_content{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    overflow-y: hidden;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

div#statistics{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.stat_card {
    width: 300px;
    height: 200px;
    border-radius: 20px 0px 20px 0px;
    padding: 20px;
}

.stat_card_bg_one {
    border: 1px solid #79bacd;
    background-color: #79bacd;
}

.stat_card_bg_two {
    border: 1px solid #4ca3bd;
    background-color: #4ca3bd;
}

.stat_card_bg_three {
    border: 1px solid #377f95;
    background-color: #377f95;
}

.stat_card_bg_four {
    border: 1px solid #285765;
    background-color: #285765;
}
.card-font-color-1 {
    color: #285765;
}

.card-font-color-2 {
    color: #79bacd;
}
.shadow {
    box-shadow: 0 5px 16px rgba(0,0,0,0.4);
}

.bg-primary {
    background-color: #F9EDF1 !important;
}


.stat_card h2{
    font-size: 1.5em;
}

.stat_card h3{
    font-size: 1em;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}


.bg-primary {
    background-color: #F9EDF1 !important;
  }

  .blue-font {
    color: #377f95
  }


  header {
    background-color: #007BFF; /* Use your desired background color */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 1;
}

.title {
    flex: 1;
    text-align: center;
    color: #84b5c5;
}

.logout {
    flex: 1;
    text-align: right;
}

/* Example styles for better appearance */
.logo img {
    max-width: 100%;
    height: auto;
}

.logout button {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #7AC0D2;
    border-color: #7AC0D2;
  }

  .btn-primary:hover {
    background-color: #377f95;
    border-color: #377f95;
}

  .big-font {
    font-size: 54px;
    font-weight: 800;
  }