
@import 'bootstrap/dist/css/bootstrap.min.css';
/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Apply Poppins font to body */
body {
  font-family: 'Poppins', sans-serif;
}
  
  /* Header styles */
  header {
    padding: 10px 0;
  }
  
  header img {
    max-height: 60px;
  }

  /* Search bar styles */
  header form {
    width: 100%; /* Make the form span the full width */
  }
  
  header input {
    width: 80%; /* Adjust the width as needed */
    margin-right: 10px; /* Add some margin between the search bar and the button */
  }

  
  
  header button {
    width: 15%; /* Adjust the width as needed */
  }

  #header-row {
    display: flex;
    align-items: baseline;
  }

  #header-search input {
    border-radius: 50px;;
  }


  .navbar-toggler {
    background-color: none;
}

.navbar-toggler-icon {
  background: linear-gradient(-45deg, #7ac0d2,#E6AAAB);
    display: block;
    height: 4px;
    margin: 7px
}

@media (min-width: 768px) and (max-width: 1023px) {
  .form-inline .form-control {
    width: 40%;
  }
}
  
@media (min-width: 1024px) {
  .form-inline .form-control {
    width: 80%;
  }
}
  
  .separator-border {
    border-left: 1px solid #000; 
    height: 20px;
  }
  
  /* Navbar styles */
  .navbar {
    width: 100%;
    padding: 25px;
  }

  .navbar-expand-lg {
    padding: 15px; /* Adjust the padding as needed */
  }


  .navbar-nav li.nav-item {
    padding: 0px 40px;
  }
 
  .btn-primary {
    background-color: #7AC0D2;
    border-color: #7AC0D2;
  }

  .btn-primary:hover {
    background-color: #E6AAAB;
    border-color: #E6AAAB;
  }

  .image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }

  .card-img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }

  .font-35 {
    font-size: 35px;
  }

  .custom-hr {
    border: 0;
    height: 1px;
    margin: 50px;
    background-image: linear-gradient(to right, #f0f0f0, #7BBDD1,#E8A2A6, #f0f0f0);
}

.card {
    border: none;
}

  .rounded-corner {
    border-radius: 1px 1px 45px 1px !important;
    }

/* Deals carousel */


.deal_box{
  width: 175px;
  height: auto;
  text-align: center;
}

.deal_info{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  font-size: 1.2em;
}

.deal_price{
  color: red;
}

.carousel-inner{
  padding: 20px 20px;
}

#weekly_deals{
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 15px;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
}

.deal_image{
  display: flex;
  justify-content: center;
}

.deal_box img{
  border-bottom-right-radius: 30px;
  box-shadow: 5px 5px 15px darkgrey;
  width: 280px;
  margin-bottom: 10px;

}

#deal_one, #deal_two, #deal_three, #deal_four{
  transition: all ease-in-out .2s;
}

#deal_one:hover, #deal_two:hover, #deal_three:hover, #deal_four:hover{
  cursor: pointer;
  transform: translate(2px, -2px);
}

.deal_row{
  height: auto;
  display: flex;
  padding: 0 80px;
}

.deal_title{
  font-size: 1.3em;
}

.old_price{
  text-decoration: line-through;
  color: rgb(129, 128, 128);
}

#carouselExampleControls{
  margin-top: 20px;
  background-color: #f9edf1;
}

#deals_div{
  background-color: #000;
}

#deals_container{
  background-color: #f9edf1;
  display: flex;
  padding: 20px;
}

/* Payment Gateway */

#payment_form{
  width: 700px;
  box-shadow: 2px 2px 7px darkgrey;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#payment_title{
  font-size: 1.3em;
}

.checkout_titles{
  font-size: 1.2em;
  color: rgb(125, 125, 173);
}

.checkout_info{
  margin-bottom: 20px;
}

#card_type_field{
  display: flex;
  justify-content: space-evenly;
  width: 350px;
}

#card_type_field img:hover{
  box-sizing: border-box;
  cursor: pointer;
  border: 3px solid white;
}


/* flash messages */

.alert-success{
  margin-bottom: 0 !important;
  text-align: center;
  background-color: rgb(145, 232, 145);
}

.alert-danger{
  margin-bottom: 0 !important;
  text-align: center;
  background-color: rgb(214, 106, 106);
}

/* Parallax container */
.parallax-container {
    position: relative;
    height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: #fff;
    text-align: center;
  }

  /* Dark overlay to enhance text visibility */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Centered text within the parallax container */
  .parallax-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
  }

  /* Slider styles */

  /* Content styles */

  div.home_grid{
    display: grid;
    row-gap: 15px;
    column-gap: 15px;
    width: 90%;
    height: 700px;
    margin: 30px auto;
  }

  div#grid_item_one{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    border: 1px solid black;
  }

  div#grid_item_two{
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid black;
  }

  div#grid_item_three{
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid black;
  }

  div#grid_item_four{
    grid-row-start: 3;
    grid-row-end: 4;
    border: 1px solid black;
  }

  /* Add your own styles for the slider container and content */
  
  /* Footer styles */
  footer {
    padding: 30px 0 0 0;
  }
  
  footer img {
    max-height: 60px; 
  }
  
  /* Columns in the footer */
  footer .col-md-3 {
    margin-bottom: 20px;
  }
  
  /* Links in the footer columns */
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  .bg-primary {
    background-color: #F9EDF1 !important;
  }

  .blue-font {
    color: #7AC0D2;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-dark .navbar-toggler-icon {
    background-color: #fff;
  }
  

  
  /* Additional styles for responsiveness */
  @media (max-width: 768px) {
    header img {
      max-height: 40px; 
    }
  
    footer img {
      max-height: 40px; 
    }
  }
  

  /* MAIN CONTENT HEADER IMAGE */
  .main-header 
  {
    margin:0;
    width: 100%;  
    overflow: hidden;
  }
  .main-header img
  {
    max-width: 100%;
  }

  /* LIST VIEW CARD */

.star-img {
  width: 20px; 
  margin-right: 2px; 
}
.card a{
  text-decoration: none;
  color:#000;
}

.card-body 
{
  padding: 0;
  height: 20px;

}
.card-body p:first-child
{
  text-transform: uppercase;
  font-size: 14px;
  font-style: oblique;
}
.price
{
  color: rgb(228, 36, 36);
}

/* detail carousel */

.carousel-inner img {
  width: 100%;
  height: 100%;
}

#custCarousel .carousel-indicators {
position: static;
margin-top:20px;
}

#custCarousel .carousel-indicators > li {
width:100px;
}

#custCarousel .carousel-indicators li img {
display: block;
opacity: 0.5;
}

#custCarousel .carousel-indicators li.active img {
opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
opacity: 0.75;
}

.carousel-item img{

width:80%;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.animated-icon span {
  background: #000;
}

button:focus {
  outline: none;
  }

.cart-icon {
    position: relative;
    /* other styles */
}

.cart-badge {
    position: absolute;
    top: -10px; 
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0px 6px;
    font-size: 0.8rem;
}

.breadcrumb {
  font-size: 14px;
  font-style: oblique;
  background-color: white;
}
.breadcrumb-item
{
  background-color: white;
  text-transform: capitalize;
}
.breadcrumb-item a 
{
  color:rgb(129, 128, 128);
}